*.js linguist-language=JavaScript
*.vue linguist-language=Vue
*.css linguist-language=CSS
*.md linguist-language=Markdown

# Exclude shell script from language statistics
deploy.sh linguist-vendored
node_modules/* linguist-vendored
dist/* linguist-vendored
docs/* linguist-documentation
.github/* linguist-vendored