:root {
  --sidebar-width: 16rem;
  // --c-brand: #95bf30;
  --font-family: "Segoe Print";
  // --c-text-accent: ;
  // --content-width: 80vw;
  // search
  --search-bg-color: #ffffff;
  --search-accent-color: #3eaf7c;
  --search-text-color: #2c3e50;
  --search-border-color: #eaecef;

  --search-item-text-color: #5d81a5;
  --search-item-focus-bg-color: #070c13; //#f3f4f5

  --search-input-width: 16rem;
  --search-result-width: 20rem;
}

.page-content .post-wrapper .page {
  padding-left: 18rem;
  padding-right: 14rem;
}

.navbar-item {
  color: #fff;
  & > a:hover,
  & > a.router-link-active {
    color: #070c13 !important;
  }
}

.site-name {
  color: #fff !important;
  &:hover {
    opacity: 0.85;
  }
}

.subtitle {
  margin-top: 28px;
}

/* 搜索框 */
.search-box {
  input {
    width: 200px;
    background: url(../public/img/search.png) 0.5rem 0.4rem no-repeat;
    background-size: 1rem;
  }
}
